artist_hud = {
	font = "core/performance_hud/debug"
	font_material = "debug"
	
	frame_breakdown = {
		chart_max_time = 16
		counters = [
			{ name = "G-Buffer" counters=["gbuffer"] budget=7 }
			{ name = "G-Buffer Alpha Masked" counters=["gbuffer_alpha_masked"] budget=3 }			
			{ name = "Shadow Casters" counters=["shadow_casters", "deferred_shadow_casters"] budget=6 }
			{ name = "Transparency" counters=["transparent", "semi_transparency"] budget=3 }
			{ name = "Deferred Lighting" counters=["deferred_lighting"] exclude_counters=["deferred_shadow_casters"] budget=3 }			
			{ name = "Reflections" counters=["reflections"] budget=2 }
			{ name = "Water" counters=["water"] budget=3.5 }
			{ name = "Post Processing" counters=["post_processing"] budget=4 }
		]
	}	
}

network_hud = {
	font = "core/performance_hud/debug"
	font_material = "debug"
}

lua_hud = {
	font = "core/performance_hud/debug"
	font_material = "debug"
}